<form class="payment-form" (ngSubmit)="submitPayment()">
  <div class="input-container">
    <label>Full name</label>
    <input
      type="text"
      placeholder="(minimum 3 characters)"
      [(ngModel)]="fullName"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>
  <div class="input-container">
    <label for="">Address</label>
    <input
      type="text"
      placeholder="(minimum 6 characters)"
      [(ngModel)]="address"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>

  <div class="input-container">
    <label for="">Credit card number</label>
    <input
      type="text"
      placeholder="(16-digit number)"
      [(ngModel)]="creditCardNo"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>
  <p class="payment-msg">
    We will never share your paymnet details with anyone else
  </p>
  <input type="submit" value="Submit" class="btn btn-primary" />
</form>
