header {
  background: lightblue;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-links {
  display: flex;
  gap: 15px;
}

.header-links a {
  text-decoration: none;
  color: #fff;
}

.header-links a:hover {
  color: #000;
}
