.cart-items-container {
  width: 750px;
  margin: 50px auto;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  /* align-items: center; */
  /* gap: 50px; */
}

ul {
  padding: 0;
}

.cart-items {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
  /* justify-content: space-between; */
  gap: 30px;
  padding: 10px;
}

.cart-product-img {
  width: 100px;
  border-radius: 10px;
}

.amount-container {
  display: flex;
  gap: 5px;
}

.amount-container input {
  width: 50px;
}

.payment-form {
  width: 350px;

  padding: 5px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-container label {
  font-weight: 500;
}

.payment-msg {
  font-size: 12px;
  color: grey;
}

.empty-cart {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.empty-cart a {
  text-decoration: none;
}
