<div class="cart-items-container" *ngIf="cartItems.length">
  <div class="cart-items">
    <ul>
      <li *ngFor="let item of cartItems" class="cart-item">
        <img src="{{ item.url }}" alt="" class="cart-product-img" />
        <div>
          <h4>
            {{ item.name }}
          </h4>
          <p>{{ item.price }}</p>

          <div class="amount-container">
            <p>Amount:</p>
            <input type="text" value="{{ item.amount }}" />
          </div>
        </div>
      </li>
    </ul>
    <strong>Total {{ totalPrice }}</strong>
  </div>
  <form class="payment-form" (ngSubmit)="submitPayment()">
    <div class="input-container">
      <label>Full name</label>
      <input
        type="text"
        placeholder="(minimum 3 characters)"
        [(ngModel)]="user.fullName"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="input-container">
      <label for="">Address</label>
      <input
        type="text"
        placeholder="(minimum 6 characters)"
        [(ngModel)]="user.address"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>

    <div class="input-container">
      <label for="">Credit card number</label>
      <input
        type="text"
        placeholder="(16-digit number)"
        [(ngModel)]="user.creditCardNo"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <p class="payment-msg">
      We will never share your paymnet details with anyone else
    </p>
    <input type="submit" value="Submit" class="btn btn-primary" />
  </form>
</div>

<div class='empty-cart' *ngIf="!cartItems.length">
  <h3>You cart has {{cartItems.length}} items.</h3>
  <a routerLink="/" class='back-to-products'>👈 Back to product list</a>
</div>
