.product {
  display: flex;
  width: 600px;
  margin: 50px auto;
  padding: 10px;
  gap: 50px;
}

.product img {
  width: 50%;
  border-radius: 10px;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.select-amount {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border-color: lightblue;
}

.btn {
  margin-bottom: 25px;
  padding: 10px;
  font-size: 18px;
}

.back-to-products {
  text-decoration: none;
  font-size: 17px;
}
