.confirmation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
  flex-direction: column;
}

.confirmation-header {
  color: #33e5bc;
}

.link {
  text-decoration: none;
  background-color: lightblue;
  padding: 10px;

  border-radius: 8px;
  color: #fff;
}
