.product-container {
  display: grid;
  /* border: 1px solid red; */
  grid-template-columns: 250px 250px 250px;
  place-content: center;
  justify-content: space-around;
  padding: 20px 0;
  width: 80%;
  margin: 20px auto;
}

.products-header {
  text-align: center;
  margin-top: 30px;
  color: lightblue;
}
